.App {
  text-align: center;
  margin-top: 5%;
}

input {
  width: 200px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 6px 6px 8px 0px grey;
  outline: none;
  border-color: rgba(173, 172, 172, 0.493);
}

input:focus {
  border-color: black;
}

.redux-changed {
  font-size: 18px;
  font-weight: bold;
}